@media (min-width: 768px) {
  #app {
    margin: 0 auto;
    padding: 0.5rem;
    width: 85%;
    border: 1px solid;
  }

  .character {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.character {
  border: 1px solid;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.potty-meter {
  margin: 0.5rem 0;
}

.progress-bar {
  border: 1px solid black;
  /* Makes text readable on different BG colours */
  /*
  text-shadow:  white 0.5px 0.5px, white -0.5px -0.5px;
  */
  text-align: center;
  position: relative;
  margin-bottom: 0.25rem;
}

.progress-bar--text {
  padding: 0 0.25rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.progress-bar--display {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: width 200ms;
}
